<div class="data">
<h1> Please enter your information</h1>
   <div class="question">
       <p>The number of powerwall</p>
       <p>Power powerwall</p>
       <p>Status</p>
       <p>Capacity</p>
       <p>Temperature</p>
   </div>
    <div class="dataForm">
        <label><input type="number" ng-model="vm.powerwall.number"></label>
        <label><input type="number" ng-model="vm.powerwall.power"></label>
        <label>
            <select ng-model="vm.powerwall.status">
                <option value="Active">Active</option>
                <option value="Passive">Passive</option>
            </select>
        </label>
        <label><input type="number" ng-model="vm.powerwall.capacity"></label>
        <label><input type="number" ng-model="vm.powerwall.temp"></label>
    </div>

       <button class="btn-save" ng-click="vm.save()">Save</button>

</div>