<!DOCTYPE html>
<html lang="en" ng-app="Tesla">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tesla Power Wall</title>
    <!-- build:css css/style.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
</head>
<body>
    <div class="wrapper container">
        <header ng-show="$state.current.name != 'enter'">
            <nav role="navigation" class="navbar navbar-default" ng-init="menu = true">
                <div class="navbar-header">
                    <button type="button"
                            data-target=".navbar-inverse-collapse"
                            data-toggle="collapse"
                            class="navbar-toggle"
                            ng-click="menu = !menu">
                        <span class="sr-only">Open menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ui-sref="dashboard" class="navbar-brand">
                        <img src="img/logo.png" alt="Tesla logo">
                    </a>
                </div>
                 <div class="collapse navbar-collapse navbar-inverse-collapse" ng-class="{collapse: menu}">
                     <ul class="nav navbar-nav">
                         <li><a ui-sref="dashboard"><img src="img/dashboard.png">Dasboard</a></li>
                         <li><a ui-sref="statistics"><img src="img/statistics.png">Statistics</a></li>
                         <li><a ui-sref="appliance"><img src="img/appliance.png">Appliance</a></li>
                         <li><a ui-sref="settings"><img src="img/settings.png">Settings</a></li>
                         <li><a ui-sref="data"><img src="img/data.png">New Data</a></li>
                         <li><a ui-sref="enter" ng-click="vm.logout()"><img src="img/exit.png">Log Out</a></li>
                     </ul>
                 </div>
            </nav>
        </header>
        <main ui-view>
        </main>
    </div>
    <!-- build:js js/libs.min.js -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/parse-js-sdk/lib/parse.min.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../bower_components/d3/d3.min.js"></script>
    <!-- endbuild -->

    <!-- build:js1 js/app.js -->
    <script src="js/app.js"></script>
    <script src="js/controllers/enterCtrl.js"></script>
    <script src="js/controllers/dashboardBatteryCtrl.js"></script>
    <script src="js/controllers/dashboardQuickInfoCtrl.js"></script>
    <script src="js/controllers/dashboardChargeCtrl.js"></script>
    <script src="js/controllers/statisticsLiveCtrl.js"></script>
    <script src="js/controllers/statisticsDaysCtrl.js"></script>
    <script src="js/controllers/applianceCounterCtrl.js"></script>
    <script src="js/controllers/applianceAddCtrl.js"></script>
    <script src="js/controllers/applianceListCtrl.js"></script>
    <script src="js/controllers/settingsCtrl.js"></script>
    <script src="js/controllers/dataCtrl.js"></script>

    <script src="js/services/d3Service.js"></script>
    <script src="js/services/shareApplianceService.js"></script>
    <script src="js/services/localStorageService.js"></script>
    <script src="js/services/authentication.js"></script>

    <script src="js/directives/dashboardModalDialog.js"></script>
    <script src="js/directives/d3DirectiveChargingArc.js"></script>
    <script src="js/directives/d3DirectiveChargingGraph.js"></script>
    <script src="js/directives/d3DirectiveLive.js"></script>
    <script src="js/directives/d3DirectiveToday.js"></script>
    <script src="js/directives/d3DirectiveYesterday.js"></script>
    <script src="js/directives/d3DirectiveWeek.js"></script>
    <!-- endbuild -->
</body>
</html>