<div class="add">
    <h1>Add new appliance</h1>
    <form name="addForm">
        <div>
            <label>Name</label>
            <input type="text" name='name' ng-model="vm.appliances.name" placeholder="Enter name your new devices" class="form-control" required/>
        </div>
       <div>
           <label>Power</label>
           <input type="number" name='power' ng-model="vm.appliances.power" placeholder="Enter power your new devices" class="form-control" required/>
       </div>
    </form>
    <div class="bottom">
        <a ui-sref="appliance" class="btn">Back</a>
        <button class="button" ng-click="addForm.$valid && vm.addAppliance(addForm)">Add</button>
    </div>
</div>