<div id="enter">
    <div class="enter">
        <div><img src="img/logo.png" class="logo-img"></div>
        <form class="form-horizontal" name='loginForm'>
            <div class="form-group">
                <div class="col-xs-offset-4">
                    <input type="text" class="form-control" placeholder="Enter Username   Dima" ng-model="vm.username" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-4">
                    <input type="password" id="password" class="form-control" placeholder="Enter Password    123" ng-model="vm.password" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-4">
                    <button class="col-xs-6"
                            ng-click="loginForm.$valid && vm.login(vm.username, vm.password)">Login</button>
                </div>
            </div>
            <div class="sign">
                <a href="" ng-click='vm.registryModal()'>Sign Up</a>
            </div>
        </form>
    </div>
</div>

<modal-dialog show='vm.modalShown' width='500px' height='300px' class="registry">
    <p>Create a new account</p>
    <form class="form-horizontal" name='registryForm'>
        <div class="form-group">
            <div>
                <input type="text" class="form-control" placeholder="What's Your Username?" ng-model="vm.registryUsername" required/>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="password" class="form-control" placeholder="Choose a Password" ng-model="vm.registryPassword" required/>
            </div>
        </div>
        <div class="form-group">
            <div>
                <button ng-click="registryForm.$valid && vm.registry(vm.registryUsername, vm.registryPassword)">Create my account</button>
            </div>
        </div>
    </form>
</modal-dialog>
