h3{
    margin: 0;
    padding: 25px 0 0 25px;
    color: #919191;
    font: 100 18px Open Sans, sans-serif;
}
.choice-charge{
    margin-bottom: 20px;
    background: #FFFFFF;
    border:solid 2px #E9E9E9;
}
.choice-charge button{
    width: 220px;
    height: 126px;
    border: solid 3px #C1C1C1;
    border-radius: 5px;
    cursor: pointer;
}
.btn-row{
    margin: 0 auto 35px;
    text-align: center;
}
.btn-grid{
    margin-top: 35px;
    background: #FFFFFF;
    color: #787878;
}
.btn-solar{
    margin-top: 35px;
    background: #656565;
    color: #FFFFFF;
}
.tap{
    margin: 0;
    border-top: solid 2px #E8E8E8;
    background: #F9F9F9;
    padding: 15px 0 15px 65px;
}
.tap img{
    float: left;
}
.tap p{
    margin: 15px auto 0 auto;
    font: 100 20px Open Sans, sans-serif;
    color: #A2A2A2;
    padding: 0 40px;
    text-align: center;
}
.battery-info{
    margin-bottom: 20px;
    background: #FFFFFF;
    border:solid 2px #E9E9E9;
}
.amount-battery{
    margin: 30px 25px;
    padding: 15px 30px;
    border: solid 2px #E9EDD4;
    border-radius: 7px;
    background: #F6FADF;
    font: 100 20px Open Sans, sans-serif;
    color: #80807B;
}
.battery1{
    padding: 10px 0 0 0;
    text-align: center;
    border-right: solid 2px #ECECEC;
    margin: 0 0 24px 0;
}
.power{
    font: 100 20px Open Sans, sans-serif;
    color: #B9B9B9;
    margin: 23px 0;
}
.status img{
    padding-right: 8px;
}
.status p{
    font: 100 23px Open Sans, sans-serif;
    color: #A1A1A1;
    margin-bottom: 21px;
}
.charge-line p{
    color: #929292;
    font: 100 23px Open Sans, sans-serif;
    margin-bottom: 21px;
}
.temp p{
    color: #148EC3;
    font: 100 23px Open Sans, sans-serif;
    margin-bottom: 21px;
}
.battery2{
    text-align: center;
    padding: 10px 0 0 0;
    margin: 0 0 24px 0;
}
.chart{
    margin-bottom: 20px;
    background: #FFFFFF;
    border:solid 2px #E9E9E9;
}
.arc{
    text-align: center;
    margin: 15px auto 6px;
}
.percent{
    fill: #52CEA6;
    font-size: 50px;
    font-weight: bold;
}
.status{
    font-size: 25px;
    fill: #52CEA6;
}
.time{
    margin: 50px auto 0;
}
.time p{
    text-align: right;
    font: normal 50px 'Open Sans', sans-serif;
    color: #4A4C54;
}

.graph-charging {
    text-align: center;
    border-top: solid 2px #E8E8E8;
    padding-top: 10px;
    margin: 10px 20px;
}
.graph-charging .axis text{
    fill: #A5A5A5;
    font-size: 20px;
}
.battery-img{
    cursor: pointer;
}
.ng-modal-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
}
.ng-modal-dialog {
    z-index: 10000;
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
    padding: 20px;
    text-align: left;
}
.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}

.warning p{
    color: #FF0000;
}