.data{
    background: #FFFFFF;
    border:solid 2px #E9E9E9;
    margin-bottom: 20px;
}
.data h1{
    margin: 0;
    padding: 25px 0 25px 25px;
    color: #919191;
    font: 100 18px Open Sans, sans-serif;
}
.data .form-control{
    width: 70%;
}
.data button{
    display:inline-block;
    width: 100px;
    height: 40px;
    border: none;
    background-color:  #44B449;
    color: #FFFFFF;
}