* {
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    position: relative;
    background: #F3F3F3;
}

#wrapper {
    margin: 0 auto;
    width: 1366px;
}

header{
    height: 112px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.logo{
    float: left;
    background: #FFFFFF;
}
.logo img{
    padding: 20px 32px;
}

.main-menu{
    margin-left: 280px;
}
.main-menu ul{
    margin: 0;
    padding: 0;
    background-color: #393939;

}
.main-menu ul li{
    display: inline-block;
}
.main-menu a img{
    display: block;
    margin: 0 auto;
    padding-bottom:  10px;
    opacity: 0.5;
}
.main-menu a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font: 21px 'Quicksand', sans-serif;
    color: #EBEBEB;
    border-right: 2px solid #595959;
    padding: 20px 58px 10px 58px;
}

.main-menu .a-last{
    border-right: none;
    padding-right: 0;
}
.main-menu a:hover img{
    opacity: 1;
}
