@media (min-width: 1200px) {
       .container {
           width: 1370px;
       }
}
@media (max-width: 768px) {
    .navbar .nav img{
        display: none;
    }
    .container {
        min-width: 550px;
    }
}
@media (min-width: 768px) {
    .nav>li>a {
        padding: 15px 8px;
    }
}
@media (min-width: 992px) {
    .nav>li>a {
        padding: 15px 27px;
    }
}
@media (min-width: 1200px) {
    .nav>li>a {
        padding: 15px 45px;
    }
}
@media (min-width: 1261px) {
    .nav>li>a {
        padding: 15px 50px;
    }
}
@media (min-width: 1380px) {
    .nav>li>a {
        padding: 15px 60px;
    }
}
.container {
    max-width: 100%;
}
.navbar-header{
    background-color: #FFFFFF;
}
.navbar-brand {
    height: 109px;
    padding: 18px 15px 10px;
}
.navbar-default {
    background-color: #393939;
    /*border-color: #27ae60;*/
}
.navbar-default .navbar-nav > li > a {
    color: #EBEBEB;
    opacity: 0.5;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #EBEBEB;
    opacity: 1;
}
.navbar-default .navbar-nav > li > a:active {
    color: #EBEBEB;
    opacity: 1;
}
 .navbar-default .navbar-nav > li > a:focus {
     color: #EBEBEB;
     opacity: 1;
 }
.navbar-nav img{
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}
.navbar-toggle{
    margin-top: 30px;
}
body{
    background: #F3F3F3;
}