.settings-menu{
    background: #FFFFFF;
    border:solid 2px #E9E9E9;
    width: 385px;
    float: left;
}

.settings-menu ul{
    margin: 0;
    padding: 50px 0 30px 60px;
}
.settings-menu li{
    text-decoration: none;
    list-style-type: none;
    padding: 0 0 30px;
}

.settings-menu a{
    text-decoration: none;
   /* display: inline-block;*/

    font: 21px Open Sans, sans-serif;
    color: #D0D0D0;
}
.settings{
    margin: 0 0 0 410px;
    width: 890px;
    background: #FFFFFF;
    border:solid 2px #E9E9E9;
}
.settings h1{
    margin: 0;
    padding: 50px 0 50px 60px;
    color: #979797;
    font: 18px Open Sans, sans-serif;;
}
.settings label{
    color: #4A4A4A;
    font: 21px Open Sans, sans-serif;
    padding: 0 0 0 60px;
}
.settings input{
    margin: 0 0 0 100px;
}
.userName{
    margin: 0 0 40px;
}
.settings button{
    width:  205px;
    height: 80px;
    background: #E41445;
    color: #FFFFFF;
    border: none;
    margin: 40px 60px;
    cursor: pointer;
}

.settings p{
    margin: 0 60px 40px;
}