.settings-menu{
    background: #FFFFFF;
    border:solid 2px #E9E9E9;
    margin-bottom: 20px;
}
.settings-menu ul{
    margin: 0;
    padding: 50px 0 30px 60px;
}
.settings-menu li{
    text-decoration: none;
    list-style-type: none;
    padding: 0 0 30px;
}
.settings-menu a{
    text-decoration: none;
    font: 21px Open Sans, sans-serif;
    color: #D0D0D0;
}
.settings-menu a:hover{
    color: #080808;
}
.settings{
    background: #FFFFFF;
    border:solid 2px #E9E9E9;
    margin-bottom: 20px;
}
.settings h1{
    margin: 0;
    padding: 50px 0 50px 60px;
    color: #979797;
    font: 18px Open Sans, sans-serif;;
}
.settings label{
    color: #4A4A4A;
    font: 21px Open Sans, sans-serif;
    padding: 0 0 0 60px;
}
.settings input{
    width: 50%
}
.userName{
    margin: 0 0 40px;
}
.settings button{
    width:  185px;
    height: 70px;
    background: #44B449;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.settings a{
    margin-left: 10%;
}
.settings p{
    margin: 0 60px 40px;
}