.live{
    background: #FFFFFF;
    border:solid 2px #E9E9E9;
    height: 485px;
}
.days{
    margin: 25px 0 20px;
    background: #FFFFFF;
    border:solid 2px #E9E9E9;
}
.day{
    margin: 10px 0 0 0;
    border-right: solid 1px #F3F3F3;
}
.day:last-child{
    border-right: none;
}
.day h1{
    padding-top: 15px;
}
.chart-area{
    padding: 60px 0 0;
}
.chart-area .axis{
    fill: none;
    stroke: #E9E9E9;
    stroke-width: 1px;
}
.axis text {
    fill: #5D5D5D;
    stroke: none;
    font-size: 21px;
}
.zero{
    fill: #5D5D5D;
    font-size: 21px;
}
.now-text{
    font: bold 20px Open Sans, sans-serif;
    margin: 0 0 0 85px;
    float: left;
}
.update-text{
    font: 100 20px Open Sans, sans-serif;
    color: #C0C0C0;
    float: right;
    margin-right: 20px;
}
.rate{
    background-color: #51CEA6;
    color: #FFFFFF;
    width: 250px;
    height: 100px;
    margin-top: -10px;
    margin-right: 8%;
    float: right;
}
.rate p{
    margin: 15px 0 5px 30px;
    font: 100 20px 'Quicksand', sans-serif;
}
.rate h2{
    margin: 0;
    text-align: center;
    font: bold 36px Open Sans, sans-serif;
}
.area {
    fill: #51CEA6;
    stroke: #219C74;
    stroke-width: 2;
}
.graph{
    margin-left: 10px;
}
.days .axis{
    fill: none;
    stroke: #E9E9E9;
    stroke-width: 1px;
}
.days svg{
    padding-left: 13px;
}