.ng-modal-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}
.ng-modal-dialog {
  width: 50%;
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding: 20px;
  text-align: left;
}
.ng-modal-close {
  padding: 5px;
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
.warning p{
  color: #FF0000;
}