$button-color: #FFFFFF;
$button-color-hover: #4ED055;
$button-color-back: #44B449;
$button-color-charge-active: #656565;

$color-arc: #52CEA6;
$color-h1: #919191;
$color-back: #F3F3F3;
$color-box-back: #FFFFFF;
$color-box-tap-back: #F9F9F9;
$color-tap: #A2A2A2;
$color-time: #4A4C54;

$font-stack: 'Open Sans', sans-serif;
$font-size: 20px;
$font-size-h1: 18px;

