@import "../utils/_variables";

.chart-area {
  & {
    margin-top: -60px;
    margin-bottom: 10px;
  }

  .rate {
    & {
      height: 100px;
      width: 250px;
      margin-bottom: 20px;
      margin-right: 8%;
      float: right;
      background-color: #51CEA6;
      color: #FFFFFF;
    }

    p {
      margin: 15px 0 5px 30px;
      font: $font-size $font-stack;
    }

    h2 {
      margin: 0;
      text-align: center;
      font: ($font-size + 16px) $font-stack;
    }
  }
}

.now-text {
  margin: 0 0 0 85px;
  float: left;
  font: $font-size $font-stack;
}

.update-text {
  margin-right: 20px;
  float: right;
  color: #C0C0C0;
  font: $font-size $font-stack;
}

.days {
  @extend .box;

  & {
    padding-bottom: 0;
  }

  .day {
    & {
      //margin: 10px 0 0 0;
      padding-right: 0;
      border-right: 1px solid #F3F3F3;
    }

    svg {
      padding-left: 13px;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.zero {
  fill: #5D5D5D;
  font-size: 21px;
}

.area {
  fill: #51CEA6;
  stroke: #219C74;
  stroke-width: 2;
}

